/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underline and inherit color */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ################################################ */

:root {
  --space-cadet: hsla(218, 51%, 20%, 1);
  --vista-blue: rgb(218, 226, 241);
  --rich-black: hsla(228, 37%, 11%, 1);
  --oxford-blue: hsl(218, 51%, 20%);
  --oxford-blue-txt: hsl(218, 51%, 20%, 0.75);
  --taupe: hsla(32, 12%, 22%, 1);
  --coyote: rgba(126, 94, 68, 0.95);
  --yinmn-blue: hsla(216, 39%, 35%, 1);
  --platinum: hsla(24, 9%, 89%, 1);
  --van-dyke: hsla(4, 16%, 20%, 1);
  --night: hsla(214, 21%, 6%, 1);
  --purple: rgb(250, 226, 242);
  --purple2: hsl(305, 15%, 48%);
  --purple-txt: hsl(305, 15%, 32%);
}

body {
  background-color: var(--platinum);
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  color: var(--oxford-blue-txt);
  padding-block: 40px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 35px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.05);
}

.hero {
  color: #e9e9eb;
  background-image: url(mel.webp);
  min-height: 800px;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hero h1 {
  font-size: 40px;
  background-color: var(--yinmn-blue);
  padding: 1px 20px;
  border-radius: 5px;
}

.hero p {
  background-color: var(--oxford-blue);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  max-width: 400px;
  text-align: center;
}

.activities {
  background-color: var(--vista-blue);
  color: var(--oxford-blue);
  padding: 65px 45px;
  text-align: center;
}

.activities h2 {
  padding-bottom: 65px;
  font-size: 28px;
}

.activities .showcase {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 65px;
}

.activities .showcase .activity {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities .showcase .activity img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.activities .showcase .activity .title {
  font-weight: bold;
}

.activities .showcase .activity .desc {
  color: var(--oxford-blue-txt);
  font-size: 14px;
}

.guide {
  padding: 65px 0;
}

.guide .card {
  background-color: var(--purple);
  max-width: 475px;
  margin: 0 auto;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid var(--purple2);
  color: var(--purple-txt);

  display: flex;
  gap: 25px;
}

.guide .card .guide-pic {
  max-width: 200px;
}

.guide .card .guide-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.guide .card .guide-info h3 {
  font-size: 24px;
  font-family: "Barriecito", system-ui;
}

.guide .card .guide-info .guide-quote {
  font-style: italic;
}

.guide .card .guide-info .guide-name {
  font-weight: bold;
}
